include README.md
include MANIFEST.in
include pyproject.toml
include setup.py
recursive-include pyitt *.py
recursive-include pyitt.native *.cpp *.hpp
recursive-include ../include *.h
recursive-include ../LICENSES *
recursive-include ../src *
include ../README.md
include ../SECURITY.md